.App {
  text-align: center;
}

.container{
  margin: 5% 3%;
}

.card-deck {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}
.card-deck .card {
  display: block;
  flex-basis: 33.3%; /* change this value for each breakpoint*/
}

.formContainer{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  border: 1px solid black;
  width: 40%;
  margin-top: 10vh;
}

.formContent{
  padding: 25% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer2{
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  margin-top: 5%;
  width: 30vw;
  padding-left: 2vh;
  border: 1px solid lightgray;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
}

.fireAuth{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: auto;
  margin-top: 2vh;
  border-radius: 20px;
  cursor: pointer;
}

.fireAuth:hover{
  background-color: lightgray;
}

.authLogo{
  width: 20%;
  margin-right: 2vw;
}

.authTitle{
  padding: 0 ;
  margin-right: 3vw;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registeredEventContainer{
  width: 500px;
  margin-top: 4%;
  margin-left: 10%;
  /* padding-left: 10%; */
  display: flex;
}

.imageContainer{
  width: 250px;
}

.registeredEventsContainer{
  display: flex;
  flex-wrap: wrap;
}

.VolunteerListContainer{
  background-color: #e5e5e5;
  display: flex;
}

.adminLeft{
  background-color: white;
  border-bottom: 1px solid black;
  width: 20vw;
  height: 100vh;
  padding-top: 20px;
  padding-left: 3vw;
}

.adminLinks{
  margin-top: 40px;
}

.active{
  filter: invert(48%) sepia(100%) saturate(4831%) hue-rotate(198deg) brightness(99%) contrast(110%);
}

.adminRightTop{
  background-color: white;
  width: 80vw;
  padding: 20px 40px;
}

.adminRightBottom{
  background-color: white;
  padding: 40px;
  margin: 20px;
}

table{
  width: 100%;
  text-align: center;
  
}

.tHead{
  line-height: 50px;
  background-color: #e5e5e5;
  border: 1px solid black;
  color: #777;
}

.tr{
  line-height: 40px;
}